body {
    font: normal 100% Helvetica, Arial, sans-serif;
}

#ruib-edit {
    position: absolute;
    left: 0px;
    top: 0px;
}

#ruib-toolbar {
    position: absolute;
    left: 10px;
    top: 10px;
    border: 1px solid black;
    background-color: grey;
    width: 100px;
}

#ruib-toolbar ul {
    list-style-type: none;
}
