body {
    font: normal 100% Helvetica, Arial, sans-serif;
}

#ruib-toolbar-hidden {
    position: absolute;
    left: 0px;
    top: 0px;
}

#ruib-toolbar {
    position: absolute;
    border: 1px solid black;
    background-color: white;
}

#ruib-toolbar h1 {
    cursor: move;
    size: 1.2em;
    padding: 0px;
    margin: 0px;
    background-color: grey;
}
